<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="dbIP" value="192.168.10.211" />
    <add key="dbInstance" value="dwhddish" />
  </appSettings>
</configuration>